Intermediate
Intermediate/*
Bin/Tools/Release_Win32/*
Bin/Release_x64/*
Bin/Debug_x64/*
Bin/Release_Win32/*
Bin/Debug_Win32/*
Bin/Debug_Android_ARM/*.a
Bin/Debug_Android_ARM/*.recipe
Bin/Debug_Android_ARM/*.apk
Bin/Debug_Android_ARM/.gdb/*
Bin/Debug_Android_ARM64/*.a
Bin/Debug_Android_ARM64/*.recipe
Bin/Debug_Android_ARM64/*.apk
Bin/Debug_Android_ARM64/.gdb/*

Bin/*.bpk
Bin/*.obb
Bin/Data/models/*
Bin/Data/Data_Platform/*
Bin/Intermediate_Data/*

*.suo
*.VC.db
*.VC.db-shm
*.VC.db-wal

Dependencies/lib/x64/Debug/LibPNG.lib
Dependencies/lib/x64/Debug/FreeImage.lib
Dependencies/lib/x64/Debug/FreeImage.exp
Dependencies/lib/Win32/Release/hlsl2glsl.lib
Dependencies/lib/x64/Release/ZLib.lib
Dependencies/lib/x64/Release/LibPNG.lib
Dependencies/lib/x64/Release/FreeImage.lib
Dependencies/lib/x64/Release/FreeImage.exp
Dependencies/lib/x64/Release/hlsl2glsl.lib
Dependencies/lib/x64/Release/hlsl2glsl.exp
Dependencies/lib/x64/Release/glsl_optimizer_lib.lib
Dependencies/lib/x64/Release/glsl_optimizer_lib.exp
Dependencies/lib/Win32/Release/hlsl2glsl.exp
Dependencies/lib/Win32/Release/glsl_optimizer_lib.lib
Dependencies/lib/Win32/Release/glsl_optimizer_lib.exp
Dependencies/lib/Win32/Release/ZLib.lib
Dependencies/lib/Win32/Release/LibPNG.lib
Dependencies/lib/Win32/Release/FreeImage.lib
Dependencies/lib/Win32/Release/FreeImage.exp
Dependencies/lib/Win32/Debug/hlsl2glsl.lib
Dependencies/lib/Win32/Debug/hlsl2glsl.exp
Dependencies/lib/Win32/Debug/glsl_optimizer_lib.lib
Dependencies/lib/Win32/Debug/glsl_optimizer_lib.exp
Dependencies/lib/Win32/Debug/ZLib.pdb
Dependencies/lib/Win32/Debug/ZLib.lib
Dependencies/lib/Win32/Debug/LibPNG.pdb
Dependencies/lib/Win32/Debug/LibPNG.lib
Dependencies/lib/Win32/Debug/FreeImage.lib
Dependencies/lib/Win32/Debug/FreeImage.exp
Dependencies/lib/x64/Debug/hlsl2glsl.lib
Dependencies/lib/x64/Debug/hlsl2glsl.exp
Dependencies/lib/x64/Debug/glsl_optimizer_lib.lib
Dependencies/lib/x64/Debug/glsl_optimizer_lib.exp
Dependencies/lib/x64/Debug/ZLib.pdb
Dependencies/lib/x64/Debug/ZLib.lib
Dependencies/lib/x64/Debug/LibPNG.pdb
Bin/Release_x64/Plugins/FreeImage.iobj
Bin/Release_x64/Plugins/FreeImage.dll
Bin/Release_Win32/Plugins/FreeImage.pdb
Bin/Release_Win32/Plugins/FreeImage.ipdb
Bin/Release_Win32/Plugins/FreeImage.iobj
Bin/Release_Win32/Plugins/FreeImage.dll
Bin/Debug_x64/Plugins/FreeImage.pdb
Bin/Tools/Debug_Win32/hlsl2glsl.ilk
Bin/Tools/Debug_Win32/hlsl2glsl.dll
Bin/Tools/Debug_Win32/glsl_optimizer_lib.pdb
Bin/Tools/Debug_Win32/glsl_optimizer_lib.ilk
Bin/Tools/Debug_Win32/glsl_optimizer_lib.dll
Bin/Release_x64/Plugins/FreeImage.pdb
Bin/Release_x64/Plugins/FreeImage.ipdb
Bin/Tools/Release_x64/hlsl2glsl.pdb
Bin/Tools/Release_x64/hlsl2glsl.ipdb
Bin/Tools/Debug_x64/hlsl2glsl.pdb
Bin/Tools/Debug_x64/hlsl2glsl.ilk
Bin/Tools/Debug_x64/hlsl2glsl.dll
Bin/Tools/Debug_x64/glsl_optimizer_lib.pdb
Bin/Tools/Debug_x64/glsl_optimizer_lib.ilk
Bin/Tools/Debug_x64/glsl_optimizer_lib.dll
Bin/Tools/Debug_Win32/hlsl2glsl.pdb
Bin/Tools/Release_Win32/hlsl2glsl.ipdb
Bin/Tools/Release_Win32/hlsl2glsl.iobj
Bin/Tools/Release_Win32/hlsl2glsl.dll
Bin/Tools/Release_Win32/glsl_optimizer_lib.pdb
Bin/Tools/Release_Win32/glsl_optimizer_lib.ipdb
Bin/Tools/Release_Win32/glsl_optimizer_lib.iobj
Bin/Tools/Release_Win32/glsl_optimizer_lib.dll
Bin/Debug_x64/Plugins/FreeImage.ilk
Bin/Debug_x64/Plugins/FreeImage.dll
Bin/Debug_Win32/Plugins/FreeImage.pdb
Bin/Debug_Win32/Plugins/FreeImage.ilk
Bin/Debug_Win32/Plugins/FreeImage.dll
Bin/Tools/Release_x64/hlsl2glsl.iobj
Bin/Tools/Release_x64/hlsl2glsl.dll
Bin/Tools/Release_x64/glsl_optimizer_lib.pdb
Bin/Tools/Release_x64/glsl_optimizer_lib.ipdb
Bin/Tools/Release_x64/glsl_optimizer_lib.iobj
Bin/Tools/Release_x64/glsl_optimizer_lib.dll
Bin/Tools/Release_Win32/hlsl2glsl.pdb
Dependencies/lib/Android_ARM64/Release/libZLib_Android.a.recipe
Dependencies/lib/Android_ARM64/Release/libZLib_Android.a
Dependencies/lib/Android_ARM64/Release/libPNG_Android.a.recipe
Dependencies/lib/Android_ARM/Debug/libFreeImage_Android.a.recipe
Dependencies/lib/Android_ARM/Debug/libFreeImage_Android.a
Dependencies/lib/Android_ARM64/Debug/libPNG_Android.a.recipe
Dependencies/lib/Android_ARM64/Debug/libPNG_Android.a
Dependencies/lib/Android_ARM64/Debug/libFreeImage_Android.a.recipe
Dependencies/lib/Android_ARM/Debug/libZLib_Android.a.recipe
Dependencies/lib/Android_ARM/Debug/libZLib_Android.a
Dependencies/lib/Android_ARM/Debug/libPNG_Android.a.recipe
Dependencies/lib/Android_ARM/Debug/libPNG_Android.a
Dependencies/lib/Android_ARM64/Release/libFreeImage_Android.a.recipe
Dependencies/lib/Android_ARM64/Release/libFreeImage_Android.a
Dependencies/lib/Android_ARM64/Debug/libZLib_Android.a.recipe
Dependencies/lib/Android_ARM/Release/libPNG_Android.a.recipe
Dependencies/lib/Android_ARM/Release/libPNG_Android.a
Dependencies/lib/Android_ARM/Release/libFreeImage_Android.a.recipe
Dependencies/lib/Android_ARM/Release/libFreeImage_Android.a
Dependencies/lib/Android_ARM64/Debug/libZLib_Android.a
Dependencies/lib/Android_ARM64/Release/libPNG_Android.a
Dependencies/lib/Android_ARM64/Debug/libFreeImage_Android.a
Dependencies/code/hlsl2glsl/hlslang/MachineIndependent/Gen_hlslang.cpp
